.projects-container {
    display: block;
    text-align: center;
    /* background-color: rgba(35, 35, 35, 0.957); */
}

.projects {
    padding: 1%;
}

.a-project {
    display: flex;
    border: 1px solid black;
    width: 800px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(35, 35, 35, 0.957);
    color: white;
    text-align: left;
    padding: 1%;   
}

.a-project:hover {
    transform: scale(1.1);
}

.p-title {
    display: flex;
}

.p-name {
    color: dodgerblue;
    width: 150px;
    padding-right: 10px;
}

.vertical {
    border-left: 1px solid dodgerblue;
    height: 120px;
}

.p-description {
    padding-left: 10px;
}

.p-skills {
    display: flex;
}

.p-skill {
    border: 2px solid dodgerblue;
    border-radius: 15px;
    margin-right: 10px;
    padding: 3px;
    background: dodgerblue;
}

.bar {
    border: 2px solid dodgerblue;
    border-radius: 5px;
    width: 50px;
    margin: auto;
}
