.home {     
    display: block;
    color: white;
    margin: auto;
    margin-top: 10%;
    width: 50%;
    height: 100vh;
    /* text-align: center; */
}

.welcome {
    color: #a7a7a7;
}

.name {
    font-size: 100px;
}

.title {
   
}

.bio {
    color: #a7a7a7;
}

.seeking {
    color: #a7a7a7;
}

.line h2{font-size:30px; text-align:center; border-bottom:1px solid white; position:relative; }
.line h2 span { position: relative; top: 15px; padding: 0 10px;}


/* .h1-one {
    font-size: 75px;
}

.h1-two {
    font-size: 75px;
    color: rgb(160, 159, 159)
}

.h5-text {
    color: rgb(134, 194, 50);
}

.social {
    padding-right: 5%;
} */

