.profile {
    text-align: center;
    margin: 16%;
}

.social {
    padding: 10px;
    z-index: 9999;
}

.social:hover {
    filter:opacity(0.5);
  }

  .name {
    font-size: 150px;
    font-weight: bold;
  }

  .degree {
    font-size: 40px;
    font-style: italic;
  }

