.profile {
    text-align: center;
    margin: 21.5%;
    /* margin: 0;
    position: fixed;
    text-align: center;
    padding-top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%; */
}

.social {
    padding: 10px;
}

.social:hover {
    filter:opacity(0.5);
  }
