.aboutme {
    background-color: rgba(35, 35, 35, 0.957);
    padding: 3%;
    display: block;
}

.title {
    margin: auto;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

.bar {
    border: 2px solid dodgerblue;
    border-radius: 5px;
    width: 50px;
    margin: auto;
}

.about {
    align-items: center;
}


.para {
    width: 40%;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 1%;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
}

.resumeButton {
    margin-left: 47%;
    margin-top: 2%;
}
