.carousel-container {
    border: 1px solid white;
    padding: 20px;
    background: black;
}

.project-title {
    display: block;
    margin-bottom: 15px;
}

.project-tech-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.project-tech-item {
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 40px;
    padding: 5px;
}