.orange-box-color {
    background: linear-gradient(#ff8215de, rgb(254, 190, 133));
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    margin-bottom: 30px;
    margin-top: 30px;
}