.experience-container {
    text-align: center;
}

.bar {
    border: 2px solid dodgerblue;
    border-radius: 5px;
    width: 50px;
    margin: auto;
}

.soon {
    border: 1px solid black;
    background: dodgerblue;
    margin: 1%;
}
