.App {
  font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
}

* {
  /* background-color: rgb(41,43,47); */
  background-color: rgb(34, 38, 41);
  /* background-color: black; */
}

.content {
  margin-top: 12%;
  display: block;
  position: absolute;
  width: 55%;
  align-items: center;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.home {
  margin-bottom: 35%;
}

.sections {
  display: flex;
}

.left-section {
  color:white;
  position: fixed;
}

.mid-section {
  width: 80%;
}