* {
  background-color: #232323;
  font-family: 'Montserrat',sans-serif;
}

/* .content {
  margin-top: 12%;
  padding-bottom: 12%;
  display: block;
  position: absolute;
  width: 55%;
  align-items: center;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  padding: 10px;
} */

.sections {
  display: flex;
}

.mid-section {
  display: block;
}
